@{
    Layout = "_MemberLayout";
}

<div id="account-password">
    <div class="container">
        <form class="col-12" onsubmit="return comparePW()">
            <div class="form-group row">
                <label for="currentPassword" class="col-xl-2 col-lg-3 col-sm-4 col-5 col-form-label">當前密碼</label>
                <input  id="currentPassword" name="currentPassword" type="password" class="col-xl-10 col-lg-9 col-sm-8 col-7 form-control" required pattern="^(?=.*\d)(?=.*[a-z]).{8,30}$" placeholder="請輸入目前使用的密碼">
            </div>
            <div class="form-group row">
                <label for="newPassword" class="col-xl-2 col-lg-3 col-sm-4 col-5 col-form-label">新的密碼</label>
                <input  id="newPassword" name="newPassword" type="password" class="col-xl-10 col-lg-9 col-sm-8 col-7 form-control" required pattern="^(?=.*\d)(?=.*[a-z]).{8,30}$" placeholder="至少8個字以上，且須含有英文字母及數字。">
            </div>
            <div class="form-group row">
                <label for="verify" class="col-xl-2 col-lg-3 col-sm-4 col-5 col-form-label">確認密碼</label>
                <input  id="verify" name="verify" type="password" class="col-xl-10 col-lg-9 col-sm-8 col-7 form-control" required pattern="^(?=.*\d)(?=.*[a-z]).{8,30}$" placeholder="請再輸入一次新密碼">
            </div>
            <div id="message"></div>
            <button class="btn btn-secondary form-control" type="submit">更改密碼</button>
        </form>
    </div>
</div>

@section styles {
    <link rel="stylesheet" type="text/css" href="/ViewAssets/Member/password.css">
}
@section footscripts {
    <script type="text/javascript" src="/ViewAssets/Member/password.js"></script>
}